* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Plana;
  src: url(./ASSETS/FONTS/GT-Planar-Trial-VF.ttf);
  font-weight: 100 900;
  font-style: oblique 0 45deg;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: Plana, sans-serif;
  color: #202231;
  font-size: 2vh;
  text-transform: capitalize;
  font-variation-settings: "wght" 100, "slnt" -10;
  overflow: hidden;
  background-color: #fefdeb;
}
article {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  overflow: hidden;
}
h1 {
  display: flex;
}
span {
  display: inline-block;
  flex: 0 0 auto;
  padding: 0.3rem 1.7rem;
  transition: all 0.3s ease;
}
span:hover {
  font-variation-settings: "wght" 900, "slnt" 10;
}
.mid {
  font-size: 7vh;
  font-variation-settings: "wght" 200, "slnt" -10;
}
.big {
  font-size: 23vh;
  font-variation-settings: "wght" 300, "slnt" -10;
}
