* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Plana;
  src: url(./ASSETS/FONTS/GT-Planar-Trial-VF.ttf);
  font-weight: 100 900;
  font-style: oblique 0 45deg;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
article {
  background-color: blue;
  display: flex;
  flex-direction: column;
}
h1 {
  display: flex;
}
span {
  background: red;
  font-family: Plana, sans-serif;
  text-transform: capitalize;
  font-size: 10vh;
  padding: 0.4rem 1rem;
  font-variation-settings: "wght" 100, "slnt" -10;
  transition: all 0.3s ease;
}
span:hover {
  font-variation-settings: "wght" 700, "slnt" 10;
}
