* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Plana;
  src: url(./ASSETS/FONTS/GT-Planar-Trial-VF.ttf);
  font-weight: 100 900;
  font-style: oblique 0 45deg;
}
article {
  background-color: blue;
  display: flex;
  flex-direction: column;
}
span {
  background: red;
  font-size: 10vh;
}
